[Unit]
Description=Description for this script
After=network.target

[Service]
Type=notify
User=username
Group=username
WorkingDirectory=/home/user/app_node
ExecStart=/home/user/app_node/venv/bin/python3 -m path.folder.scriptname
# ExecStart=/usr/bin/python3 -m module.path.script_name
Restart=always
RestartSec=5
WatchdogSec=80 # sd_notify.notify("WATCHDOG=1") at least once per 40s
#NotifyAccess=all
StandardOutput=journal
StandardError=journal
CPUQuota=50%
MemoryMax=1G

[Install]
WantedBy=multi-user.target
